body {
  background-image: url(/images/hex_pattern_bottom_only.svg);
  background-position: 50% 105%;
  background-repeat: no-repeat;
  background-size: 103%;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

main {
  padding: 0 50px;
}

button {
  border: 0;
  border-radius: 2px;
  box-shadow: 2px 2px 8px 0px $french-grey;
  cursor: pointer;

  &:focus,
  &:hover {
    box-shadow: 2px 2px 8px 0px $black;
    outline: none;
  }
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 15px 0;

  label {
    margin: 10px 20px;
  }

  input {
    margin: 0 20px;
  }
}

input {
  border: 1px solid $french-grey;
  border-radius: 2px;
  font-size: 1.5rem;
  line-height: 2;
  padding: 0 25px;
  text-align: center;
  width: 400px;

  &:focus {
    outline: none;
    text-align: left;
  }
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}

.cancel {
  color: $french-grey;
  font-size: 2rem;
  margin: 0 auto;
  position: absolute;
  right: 30px;
  text-align: right;

  i {
    margin: 20px 0;

    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}

.message-pane {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
  padding: 35px;

  .message-content {
    padding: 0 7vw;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 15px;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
