body {
  background-image: url(/images/hex_pattern_bottom_only.svg);
  background-position: 50% 105%;
  background-repeat: no-repeat;
  background-size: 103%;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  padding: 0;
}

main {
  padding: 30px 50px;
}

.hidden {
  display: none !important;
}
