.registration-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10%;

  .registration-start-screen {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .register-new-guest-wrapper {
      text-align: center;
      width: 100%;

      #register-new-guest {
        background: white;
        color: $black;
      }
    }

    .or-divider {
      border-top: 1px solid $french-grey;
      font-size: 1.25rem;
      margin: 40px 25% 25px;
      text-align: center;
      width: 50%;

      span {
        background: white;
        padding: 0 10px;
        position: relative;
        top: -13px;
      }
    }
  }

  button {
    background: $fern-green;
    border: $fern-green solid 2px;
    color: $white;
    font-size: 1.3rem;
    padding: 5px 40px;
  }

  .search-form {
    align-items: center;
    display: flex;
    justify-content: center;

    button {
      margin-top: 33px;
    }
  }

  .new-registration-view {
    width: 50%;

    .new-registration-form {
      margin: 0 auto;
      width: 50%;

      input.invalid-input {
        border: 1px solid $washingcon-red;
      }

      button {
        float: right;
        margin: 15px 0;
      }
    }
  }

  .user-view {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .user-badge-form {
      height: 55vh;
      margin: 0 25px;
      overflow: hidden;
      position: relative;
      width: 60%;

      .user-badges-scroll-wrapper {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-right: 17px;
        width: 100%;
      }

      .user-badges {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;

        p {
          width: 100%;
        }

        input:focus {
          border: solid 1px $black;
        }

        i {
          align-items: center;
          display: flex;
          font-size: 1.25rem;
          margin-top: 33px;
        }

        .fa-lock {
          color: $washingcon-red;
        }
      }

      .add-badges-wrapper {
        display: flex;
        height: 91px;
        margin: 0 auto;
        position: relative;
        width: 100%;

        #toggle-add-badges-form {
          cursor: pointer;
          display: flex;
          font-size: 1.5rem;
          justify-content: center;
          left: 0;
          position: absolute;
          top: -11px;
          transform: rotate(45deg);
          transition: transform .25s ease-out;
          width: 15%;

          &.rotated {
            transform: rotate(0deg);
          }
        }

        .add-badges-form {
          align-items: center;
          display: flex;
          justify-content: flex-start;
          width: 85%;

          fieldset {
            width: 200px;

            input {
              width: 200px;
            }
          }

          button {
            font-size: 1.3rem;
            margin-top: 33px;
            padding: 3px;
            width: 20%;
          }
        }
      }
    }

    .user-data {
      flex-grow: 1;
      margin: 0 25px;

      h2 {
        font-size: 2rem;
        margin: 15px 0;
      }

      p {
        font-size: 1.15rem;
        margin: 10px 0;
      }

      hr {
        margin: 30px;
      }

      .next-guest {
        background: $white;
        color: $black;
        display: block;
        font-size: 1.4rem;
        margin: 0 auto;
        padding: 7px 40px;

        &:hover {
          box-shadow: 2px 2px 8px 0px $concord;
        }
      }
    }
  }
}
