.registration-section {
  .search-form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    input {
      line-height: 2;
      margin: 0 20px;
      padding: 0 25px;
      text-align: center;
      width: 450px;

      &::placeholder {
        transition: color .15s ease-out;
        text-align: center;
      }

      &:focus {
        text-align: left;

        &::placeholder {
          color: transparent;
        }
      }
    }

    button {
      background: $fern-green;
      color: $white;
      font-size: 2rem;
      padding: 5px 40px;
    }
  }

  .not-found-message {
    padding: 0 7vw;

    h2 {
      font-size: 2.5rem;
      margin: 15px 0;
    }

    p {
      font-size: 1.1rem;
    }
  }

  .user-view {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    form {
      margin: 0 25px;

      .user-badges {
        display: flex;
        flex-direction: column;

        input {
          line-height: 1.5;
          margin: 10px 0;
          padding: 5px 20px;
          width: 350px;

          &:focus {
            border: solid 1px $black;
          }
        }
      }
    }

    .user-data {
      flex-grow: 1;
      margin: 0 25px;

      h2 {
        font-size: 2rem;
        margin: 15px 0;
        text-decoration: underline;
      }

      p {
        font-size: 1.15rem;
        margin: 10px 0;
      }

      .entry-status-message {
        h3 {
          color: $white;
          font-size: 1.5rem;
          margin-top: 60px;
          padding: 35px;

          button {
            background: $white;
            display: block;
            font-size: 1.4rem;
            margin: 30px auto 0;
            padding: 7px 40px;
          }
        }

        .success-message {
          background-color: $fern-green;
        }

        .failure-message {
          background-color: $washingcon-red;
        }
      }
    }
  }
}
