.checkout-section,
.returns-section,
.user-lookup-section {
  form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
      margin: 33px 20px 0;
    }
  }
}
