.checkout-section,
.returns-section,
.user-lookup-section {
  form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
      background: $fern-green;
      color: $white;
      font-size: 1.5rem;
      margin: 33px 20px 0;
      padding: 5px 40px;
    }
  }

  h2 {
    font-size: 3rem;
    text-align: center;
  }
}
