.checkout-section,
.returns-section,
.user-lookup-section,
.current-log-section {
  form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
      margin: 33px 20px 0;
    }
  }

  #current-log {
    li {
      border-bottom: 1px solid $steel;
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
      padding: 3px;
    }

    .headers {
      font-weight: bold;
      border-bottom: 2px solid $steel;
    }
  }

  .confusion-solvers {
    font-size: 2rem;
    text-align: center;
  }

  .phone-prompt {
    border: solid 1px $steel;
    margin: 0 auto;
    padding: 25px 25px 0;
    width: 70%;

    form {
      flex-wrap: wrap;

      &>div {
        margin-top: 20px;
        text-align: center;
        width: 100%;

        p {
          margin: 10px 0;
        }
      }

      h2 {
        text-align: center;
        width: 100%;
      }

      #no-phone-number {
        background-color: $white;
        border: solid 2px;
        color: $black;
        font-size: 1rem;
      }
    }
  }
}
