.user-lookup-section {
  .user-lookup-results{
    position: relative;
    height: 40vh;
    margin: 0 auto;
    overflow: hidden;
    width: 60%;

    .fade-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      background-image: linear-gradient(to top, white, transparent 30%);
    }

    .user-lookup-scroll-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-right: 17px;
      width: 100%;

      .user-lookup-spacer {
        box-sizing: border-box;
        height: 100px;
        width: 100%;
      }
    }

    .user-lookup-info-wrapper {
      border-right: solid 1px $french-grey;
      box-sizing: border-box;
      padding: 15px 20px;
      width: 30%;

      p {
        margin: 10px 0;
      }
    }

    .user-lookup-status-wrapper,
    .user-lookup-history {
      border-right: solid 1px $french-grey;
      box-sizing: border-box;
      padding: 15px 20px;
      width: 50%;

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          border-bottom: solid 1px $french-grey;
          display: flex;
          justify-content: space-between;
          margin: 5px 0;
          padding-bottom: 3px;
          width: 100%;

          &.headers {
            border: 0;

            p {
              font-weight: bold;
            }
          }

          p {
            margin: 0 25px 0 5px;
          }

          div {
            display: flex;
          }
        }
      }
    }

    .user-lookup-history {
      border: 0;
    }

    .user-lookup-history {
      padding: 15px 20px;
      width: 15%;
    }
  }
}
