/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url(/images/metro_train_bottom_only.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 103%;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  overflow: hidden;
  padding: 0; }

main {
  padding: 0 50px; }

button {
  border: 0;
  border-radius: 2px;
  box-shadow: 2px 2px 8px 0px #bdbdbd;
  cursor: pointer;
  background: #487943;
  color: #fff;
  font-size: 1.5rem;
  padding: 5px 40px; }
  button:focus, button:hover {
    box-shadow: 2px 2px 8px 0px #656565;
    outline: none; }

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 15px 0; }
  fieldset label {
    margin: 10px 20px; }
  fieldset input {
    margin: 0 20px; }

input {
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  font-size: 1.5rem;
  line-height: 2;
  padding: 0 25px;
  text-align: center;
  width: 370px; }
  input:focus {
    outline: none;
    text-align: left; }

h2 {
  font-size: 3rem;
  text-align: center; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

.hidden {
  display: none !important; }

.cancel {
  color: #bdbdbd;
  font-size: 2rem;
  margin: 0 auto;
  position: absolute;
  right: 30px;
  text-align: right; }
  .cancel i {
    margin: 20px 0; }
    .cancel i:hover {
      color: black;
      cursor: pointer; }

.message-pane {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
  padding: 35px; }
  .message-pane .message-content {
    background: white;
    border: solid;
    padding: 10px 7vw; }
    .message-pane .message-content h2 {
      font-size: 2.5rem;
      margin-bottom: 15px; }
    .message-pane .message-content p {
      font-size: 1.1rem; }

.section {
  background: white;
  border: solid;
  margin: 0 auto;
  padding: 40px; }

.fade-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-image: linear-gradient(to top, white, transparent 30%); }

header {
  align-items: center;
  background: white;
  border-bottom: 2px solid #afafaf;
  box-shadow: 0px 0px 10px #afafaf;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px; }
  header img {
    width: 30%; }
  header .section-select-buttons a {
    cursor: pointer;
    margin: 0 10px; }
  header .nav-buttons {
    display: flex; }
    header .nav-buttons .auth-buttons {
      border-left: 2px solid #c3c3c3;
      margin-left: 20px;
      padding-left: 20px; }
      header .nav-buttons .auth-buttons button {
        background: #CB2128;
        border: none;
        border-radius: 2px;
        box-shadow: 1px 1px 4px 0px #7d7d7d;
        color: white;
        cursor: pointer;
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        margin-left: 15px;
        padding: 7px 20px;
        transition: box-shadow .125s ease-out; }
        header .nav-buttons .auth-buttons button:hover {
          box-shadow: 1px 1px 4px 0px #000; }
    header .nav-buttons a {
      color: black;
      cursor: pointer;
      font-size: 1.25rem;
      text-decoration: none;
      transition: color .125s ease-out; }
      header .nav-buttons a.active, header .nav-buttons a:hover {
        color: #CB2128;
        text-decoration: underline; }
    header .nav-buttons > div {
      align-items: center;
      display: flex; }

.registration-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .registration-section .registration-start-screen {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .registration-section .registration-start-screen .register-new-guest-wrapper {
      text-align: center;
      width: 100%; }
      .registration-section .registration-start-screen .register-new-guest-wrapper #register-new-guest {
        background: white;
        color: #000; }
    .registration-section .registration-start-screen .or-divider {
      border-top: 1px solid #bdbdbd;
      font-size: 1.25rem;
      margin: 40px 25% 25px;
      text-align: center;
      width: 50%; }
      .registration-section .registration-start-screen .or-divider span {
        background: white;
        padding: 0 10px;
        position: relative;
        top: -13px; }
  .registration-section button {
    background: #487943;
    border: #487943 solid 2px;
    color: #fff;
    font-size: 1.3rem;
    padding: 5px 40px; }
  .registration-section .search-form {
    align-items: center;
    display: flex;
    justify-content: center; }
    .registration-section .search-form button {
      margin-top: 33px; }
  .registration-section .new-registration-view {
    width: 50%; }
    .registration-section .new-registration-view .new-registration-form {
      margin: 0 auto; }
      @media screen and (max-height: 825px) {
        .registration-section .new-registration-view .new-registration-form {
          max-height: 43vh;
          overflow-y: scroll; } }
      .registration-section .new-registration-view .new-registration-form input.invalid-input {
        border: 1px solid #CB2128; }
      .registration-section .new-registration-view .new-registration-form button {
        float: right;
        margin: 15px 0; }
  .registration-section .user-view {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .registration-section .user-view .user-badge-form {
      height: 55vh;
      margin: 0 25px;
      overflow: hidden;
      position: relative;
      width: 70%; }
      .registration-section .user-view .user-badge-form .user-badges-scroll-wrapper {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-right: 17px;
        width: 100%; }
      .registration-section .user-view .user-badge-form .user-badges {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 100%; }
        .registration-section .user-view .user-badge-form .user-badges p {
          width: 100%; }
        .registration-section .user-view .user-badge-form .user-badges input:focus {
          border: solid 1px #000; }
        .registration-section .user-view .user-badge-form .user-badges i {
          align-items: center;
          cursor: pointer;
          display: flex;
          font-size: 1.25rem;
          margin: 33px 10px 0 0; }
          .registration-section .user-view .user-badge-form .user-badges i:nth-child(3n) {
            margin-right: 0; }
          .registration-section .user-view .user-badge-form .user-badges i:hover {
            color: #CB2128; }
          .registration-section .user-view .user-badge-form .user-badges i[disabled="true"] {
            pointer-events: none; }
        .registration-section .user-view .user-badge-form .user-badges .fa-lock {
          color: #CB2128; }
      .registration-section .user-view .user-badge-form .add-badges-wrapper {
        display: flex;
        height: 91px;
        margin: 0 auto;
        position: relative;
        width: 100%; }
        .registration-section .user-view .user-badge-form .add-badges-wrapper #toggle-add-badges-form {
          cursor: pointer;
          display: flex;
          font-size: 1.5rem;
          justify-content: center;
          left: 0;
          position: absolute;
          top: -11px;
          transform: rotate(45deg);
          transition: transform .25s ease-out;
          width: 15%; }
          .registration-section .user-view .user-badge-form .add-badges-wrapper #toggle-add-badges-form.rotated {
            transform: rotate(0deg); }
        .registration-section .user-view .user-badge-form .add-badges-wrapper .add-badges-form {
          align-items: center;
          display: flex;
          justify-content: flex-start;
          width: 85%; }
          .registration-section .user-view .user-badge-form .add-badges-wrapper .add-badges-form fieldset {
            width: 200px; }
            .registration-section .user-view .user-badge-form .add-badges-wrapper .add-badges-form fieldset input {
              width: 200px; }
          .registration-section .user-view .user-badge-form .add-badges-wrapper .add-badges-form button {
            font-size: 1.3rem;
            margin-top: 33px;
            padding: 3px;
            width: 20%; }
    .registration-section .user-view .user-data {
      flex-grow: 1;
      margin: 0 25px; }
      .registration-section .user-view .user-data h2 {
        font-size: 2rem;
        margin: 15px 0; }
      .registration-section .user-view .user-data p {
        font-size: 1.15rem;
        margin: 10px 0; }
      .registration-section .user-view .user-data hr {
        margin: 30px; }
      .registration-section .user-view .user-data .next-guest {
        background: #fff;
        color: #000;
        display: block;
        font-size: 1.4rem;
        margin: 0 auto;
        padding: 7px 40px; }
        .registration-section .user-view .user-data .next-guest:hover {
          box-shadow: 2px 2px 8px 0px #7d7d7d; }

.checkout-section form,
.returns-section form,
.user-lookup-section form,
.current-log-section form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .checkout-section form button,
  .returns-section form button,
  .user-lookup-section form button,
  .current-log-section form button {
    margin: 33px 20px 0; }

.checkout-section #current-log li,
.returns-section #current-log li,
.user-lookup-section #current-log li,
.current-log-section #current-log li {
  border-bottom: 1px solid #656565;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 3px; }

.checkout-section #current-log .headers,
.returns-section #current-log .headers,
.user-lookup-section #current-log .headers,
.current-log-section #current-log .headers {
  font-weight: bold;
  border-bottom: 2px solid #656565; }

.checkout-section .confusion-solvers,
.returns-section .confusion-solvers,
.user-lookup-section .confusion-solvers,
.current-log-section .confusion-solvers {
  font-size: 2rem;
  text-align: center; }

.checkout-section .phone-prompt,
.returns-section .phone-prompt,
.user-lookup-section .phone-prompt,
.current-log-section .phone-prompt {
  border: solid 1px #656565;
  margin: 0 auto;
  padding: 25px 25px 0;
  width: 70%; }
  .checkout-section .phone-prompt form,
  .returns-section .phone-prompt form,
  .user-lookup-section .phone-prompt form,
  .current-log-section .phone-prompt form {
    flex-wrap: wrap; }
    .checkout-section .phone-prompt form > div,
    .returns-section .phone-prompt form > div,
    .user-lookup-section .phone-prompt form > div,
    .current-log-section .phone-prompt form > div {
      margin-top: 20px;
      text-align: center;
      width: 100%; }
      .checkout-section .phone-prompt form > div p,
      .returns-section .phone-prompt form > div p,
      .user-lookup-section .phone-prompt form > div p,
      .current-log-section .phone-prompt form > div p {
        margin: 10px 0; }
    .checkout-section .phone-prompt form h2,
    .returns-section .phone-prompt form h2,
    .user-lookup-section .phone-prompt form h2,
    .current-log-section .phone-prompt form h2 {
      text-align: center;
      width: 100%; }
    .checkout-section .phone-prompt form #no-phone-number,
    .returns-section .phone-prompt form #no-phone-number,
    .user-lookup-section .phone-prompt form #no-phone-number,
    .current-log-section .phone-prompt form #no-phone-number {
      background-color: #fff;
      border: solid 2px;
      color: #000;
      font-size: 1rem; }

.user-lookup-section .user-lookup-results {
  position: relative;
  height: 40vh;
  margin: 0 auto;
  overflow: hidden;
  width: 60%; }
  .user-lookup-section .user-lookup-results .user-lookup-scroll-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 17px;
    width: 100%; }
    .user-lookup-section .user-lookup-results .user-lookup-scroll-wrapper .user-lookup-spacer {
      box-sizing: border-box;
      height: 100px;
      width: 100%; }
  .user-lookup-section .user-lookup-results .user-lookup-info-wrapper {
    border-right: solid 1px #bdbdbd;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 30%; }
    .user-lookup-section .user-lookup-results .user-lookup-info-wrapper p {
      margin: 10px 0; }
  .user-lookup-section .user-lookup-results .user-lookup-status-wrapper,
  .user-lookup-section .user-lookup-results .user-lookup-history {
    border-right: solid 1px #bdbdbd;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 50%; }
    .user-lookup-section .user-lookup-results .user-lookup-status-wrapper ul,
    .user-lookup-section .user-lookup-results .user-lookup-history ul {
      display: flex;
      flex-wrap: wrap; }
      .user-lookup-section .user-lookup-results .user-lookup-status-wrapper ul li,
      .user-lookup-section .user-lookup-results .user-lookup-history ul li {
        border-bottom: solid 1px #bdbdbd;
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        padding-bottom: 3px;
        width: 100%; }
        .user-lookup-section .user-lookup-results .user-lookup-status-wrapper ul li.headers,
        .user-lookup-section .user-lookup-results .user-lookup-history ul li.headers {
          border: 0; }
          .user-lookup-section .user-lookup-results .user-lookup-status-wrapper ul li.headers p,
          .user-lookup-section .user-lookup-results .user-lookup-history ul li.headers p {
            font-weight: bold; }
        .user-lookup-section .user-lookup-results .user-lookup-status-wrapper ul li p,
        .user-lookup-section .user-lookup-results .user-lookup-history ul li p {
          margin: 0 25px 0 5px; }
        .user-lookup-section .user-lookup-results .user-lookup-status-wrapper ul li div,
        .user-lookup-section .user-lookup-results .user-lookup-history ul li div {
          display: flex; }
  .user-lookup-section .user-lookup-results .user-lookup-history {
    border: 0; }
  .user-lookup-section .user-lookup-results .user-lookup-history {
    padding: 15px 20px;
    width: 15%; }

.winners-section {
  margin: 0 auto;
  text-align: center;
  width: 80%; }
  .winners-section ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; }
    .winners-section ul li {
      border-bottom: solid 1px #bdbdbd;
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
      padding-bottom: 3px;
      width: 100%; }
      .winners-section ul li.headers {
        border-bottom: solid 1px #656565; }
        .winners-section ul li.headers p {
          font-size: 1.2rem;
          font-weight: bold; }
      .winners-section ul li p {
        margin: 0 25px 0 5px; }
      .winners-section ul li div {
        display: flex;
        flex-wrap: wrap; }
        .winners-section ul li div p {
          margin-bottom: 5px;
          text-align: right;
          width: 100%; }
  .winners-section .winners-list-wrapper {
    position: relative;
    height: 40vh;
    margin: 0 auto;
    overflow: hidden; }
    .winners-section .winners-list-wrapper .winners-scroll-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-right: 17px;
      width: 100%; }
      .winners-section .winners-list-wrapper .winners-scroll-wrapper .winners-spacer {
        box-sizing: border-box;
        height: 100px;
        width: 100%; }

.current-log-section {
  margin: 0 auto;
  width: 80%; }
  .current-log-section #current-log {
    width: 100%; }
  .current-log-section .current-log-list-wrapper {
    position: relative;
    height: 40vh;
    margin: 0 auto;
    overflow: hidden; }
    .current-log-section .current-log-list-wrapper .current-log-scroll-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-right: 17px;
      width: 100%; }
      .current-log-section .current-log-list-wrapper .current-log-scroll-wrapper .current-log-spacer {
        box-sizing: border-box;
        height: 100px;
        width: 100%; }
